services:
      tirconnector:
        build:
          context: .
          dockerfile: Dockerfile
        container_name: tirconnector-api
        ports:
          - "9090:8080"
        environment:
          - ASPNETCORE_ENVIRONMENT=Production

          # DB Locale (SQL Server - TIR)
          - ConnectionStrings__DefaultConnection=Server=172.28.234.122,1433;Database=TirSQL;User Id=sa;Password=saSA2025@@;TrustServerCertificate=True;Encrypt=False;MultipleActiveResultSets=true
          - ConnectionStrings__PostgresConnection=Host=172.28.234.122;Port=5432;Database=tirconnectordb;Username=tirconnector;Password=tirconnector


          # PostgreSQL (Query Templates - TIRConnector DB)
          #- ConnectionStrings__PostgresConnection=Host=172.28.234.122;Port=5432;Database=tirconnectordb;Username=tirconnector;Password=tirconnector
          
          # DB Reale - UtenteSolaLettura
          #- ConnectionStrings__DefaultConnection=Data Source=192.168.0.10\TIR;Initial Catalog=TirSQL;Persist Security Info=True;User ID=UtenteSolaLettura;Password=test;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Command Timeout=0

          # DB di test 192.168.0.14 - copia del db di TIR del 21/11/2025
          #- ConnectionStrings__DefaultConnection=Data Source=192.168.0.14;Initial Catalog=TirSQL;Persist Security Info=True;User ID=sa;Password=GgGiobbe123!;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name="SQL Server Management Studio";Command Timeout=0

          - ApiKeySettings__Keys=default-key-change-me,another-key
          - Cors__AllowedOrigins__0=*          
        volumes:
          - ./logs:/app/logs
        restart: unless-stopped
        networks:
          - tirconnector-network
        healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:8080/api/health"]
          interval: 30s
          timeout: 3s
          retries: 3
          start_period: 10s

networks:
  tirconnector-network:
    driver: bridge

volumes:
  logs:
